@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Tropi Land';
    src: url('../fonts/Tropi Land - (Demo) hanscostudio.com.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
